
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7f4ff;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  

  #filter-input {
    width: 20%;
    margin-left:40%;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  

  .country-list {
    list-style: none;
    padding: 0;
  }
  
  .country-item {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .country-item:hover {
    background-color: #f0f0f0;
  }
  
  .country-item.selected {
    background-color: lightblue;
    border: 1px solid #007acc;
  }
  

  .color-palette {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .color-box {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  }

  .selected {
    background-color: lightblue; 
    border: 1px solid #007acc; 
  }
  